<!DOCTYPE html>
<html>
  {{ template "head.html" }}
  <body class="bg-surface min-h-screen">
    <header class="mx-auto w-full max-w-screen-xl">
      <div class="flex p-4">
        <div class="btn-lg">
          <i class="fa-bars fas"></i>
        </div>
        <form class="ml-auto" method="post" action="/logout">
          <button class="btn-lg" type="submit">
            Esci
            <i class="fa-right-to-bracket fas"></i>
          </button>
        </form>
      </div>
    </header>
    <main hx-get="/admin/users" hx-trigger="load" hx-target="this">
    </main>
  </body>
</html>
