<!DOCTYPE html>
<html>
  {{ template "head.html" }}
  <body class="bg-surface">
    {{ template "sidebar" .Sidebar }}

    <div class="content">
      <header class="mx-auto max-w-screen-xl">
        <div class="flex p-4">
          {{ template "sidebarButton" }}
          {{ template "logoutButton" }}
        </div>
      </header>
      
      <main class="flex justify-center items-center">
        <div class="space-y-4 px-6 w-full max-w-screen-md">
          <div class="flex items-center">
            <h2 class="text-h2">
              Prodotti
            </h2>
            <a class="ml-auto btn-md suggested" href="/manager/products/new">
              <i class="fa-add fas"></i>
              Aggiungi
            </a>
          </div>
          
          <div hx-get="/manager/productsTable" hx-trigger="load" hx-target="this">
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
  