<!DOCTYPE html>
<html>
  {{ template "head.html" }} 
  <body>
    <div class="bg-surface min-h-screen">
      <header class="mx-auto w-full max-w-screen-xl">
        <div class="flex p-4">
          <div class="btn-lg">
            <i class="fa-bars fas"></i>
          </div>
          <a class="ml-auto btn-lg" href="logout">
            Esci
            <i class="fa-right-to-bracket fas"></i>
          </a>
        </div>
      </header>
      <main hx-get="/admin/usersPage" hx-trigger="load" hx-target="this">
      </main>
    </div>
  </body>
</html>
