<div id="usersPage" class="flex justify-center items-center">
  <div class="space-y-4 px-6 w-full max-w-xl">
    <h2 class="text-h2">
      Utenti
    </h2>
    <div class="flex gap-1">
      <a class="ml-auto btn-sm suggested" href="admin/user">
        <i class="fa-add fas"></i>
        Aggiungi
      </a>
    </div>

    <div class="border-collapse border-outline border rounded-lg overflow-x-auto">
      <table class="w-full table-auto">
        <thead>
          <tr>
            <th class="cursor-pointer selectable" hx-get="/admin/users?orderBy=0" hx-target="#usersPage" hx-swap="outerHTML">
              ID
              <i class="fa-sort fas{{ if ne .OrderBy 0 }} opacity-0{{ end }}"></i>
            </th>
            <th class="cursor-pointer selectable" hx-get="/admin/users?orderBy=1" hx-target="#usersPage" hx-swap="outerHTML">
              Ruolo
              <i class="fa-sort fas{{ if ne .OrderBy 1 }} opacity-0{{ end }}"></i>
            </th>
            <th class="cursor-pointer selectable" hx-get="/admin/users?orderBy=2" hx-target="#usersPage" hx-swap="outerHTML">
              Username
              <i class="fa-sort fas{{ if ne .OrderBy 2 }} opacity-0{{ end }}"></i>
            </th>
            <th class="cursor-pointer selectable" hx-get="/admin/users?orderBy=3" hx-target="#usersPage" hx-swap="outerHTML">
              Nome
              <i class="fa-sort fas{{ if ne .OrderBy 3 }} opacity-0{{ end }}"></i>
            </th>
            <th class="cursor-pointer selectable" hx-get="/admin/users?orderBy=4" hx-target="#usersPage" hx-swap="outerHTML">
              Cognome
              <i class="fa-sort fas{{ if ne .OrderBy 4 }} opacity-0{{ end }}"></i>
            </th>
            <th class="sr-only">Azioni</th>
          </tr>
        </thead>
        <tbody>
          {{ range .Users }}
          <tr>
            <td>{{ .ID }}</td>
            <td>{{ .RoleID }}</td>
            <td>{{ .Username }}</td>
            <td>{{ .Name }}</td>
            <td>{{ .Surname }}</td>
            <td class="w-8">
              <a class="w-8 btn-sm" href="admin/user?id={{ .ID }}">
                <i class="fa-pen fas"></i>
              </a>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</div>