<div id="usersPage" class="flex justify-center items-center">
  <div class="space-y-4 px-6 w-full max-w-xl">
    <div class="flex items-center">
      <h2 class="text-h2">
        Utenti
      </h2>
      <a class="ml-auto btn-md suggested" href="admin/user">
        <i class="fa-add fas"></i>
        Aggiungi
      </a>
    </div>

    <div class="border-collapse border-outline border rounded-lg overflow-x-auto">
      <table class="w-full table-auto">
        <thead>
         <tr>
            {{ range .Headers }}
            <th class="cursor-pointer selectable" hx-get="/admin/users?orderBy={{ .Index }}&orderDesc={{ if eq .Index $.OrderBy }}{{ not $.OrderDesc }}{{ else }}false{{ end }}" hx-target="#usersPage" hx-swap="outerHTML">
              {{ .Name }}
              <i class="{{ if $.OrderDesc }}fa-sort-up{{ else }}fa-sort{{ end }} fas{{ if ne $.OrderBy .Index }} opacity-0{{ end }}"></i>
            </th>
            {{ end }}
            <th class="sr-only">Azioni</th>
          </tr>
        </thead>
        <tbody>
          {{ range .Users }}
          <tr>
            <td>{{ .ID }}</td>
            <td>{{ .Role.Name }}</td>
            <td>{{ .Username }}</td>
            <td>{{ .Name }}</td>
            <td>{{ .Surname }}</td>
            <td class="w-8">
              <a class="w-8 h-8 btn-sm" href="admin/user?id={{ .ID }}">
                <i class="fa-pen fas"></i>
              </a>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</div>