<div id="usersTable" class="border-collapse border-outline border rounded-lg overflow-x-auto">
  <table class="w-full table-auto">
    <thead>
     <tr>
        {{ range .Headers }}
        <th class="selectable" hx-get="/admin/usersTable?orderBy={{ .Index }}&orderDesc={{ if eq .Index $.OrderBy }}{{ not $.OrderDesc }}{{ else }}false{{ end }}" hx-target="#usersTable" hx-swap="outerHTML">
          <div class="inline-flex items-center gap-1">
            {{ .Name }}
            <i class="{{ if $.OrderDesc }}fa-sort-up{{ else }}fa-sort{{ end }} fas{{ if ne $.OrderBy .Index }} opacity-0{{ end }}"></i>
          </div>
        </th>
        {{ end }}
        <th class="sr-only">Azioni</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      {{ range .Users }}
      <tr class="border-outline border-t">
        <td>{{ .ID }}</td>
        <td class="max-w-14 text-ellipsis overflow-clip">{{ .Role.Name }}</td>
        <td>{{ .Username }}</td>
        <td>{{ .Name }}</td>
        <td>{{ .Surname }}</td>
        <td class="w-8">
          <a class="w-8 h-8 btn-sm" href="admin/users/edit?id={{ .ID }}">
            <i class="fa-pen fas"></i>
          </a>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
