<div id="usersPage" class="flex justify-center items-center">
  <div class="space-y-4 px-6 w-full max-w-xl">
    <h2 class="text-h2">
      Utenti
    </h2>
    <div class="flex gap-1">
      <div class="btn-sm">
        <i class="fa-sort fas"></i>
        <select name="orderBy" hx-get="/admin/users" hx-target="#usersPage" hx-swap="outerHTML">
          <option value="0" {{ if eq .OrderBy 0 }}selected{{ end }}>Id</option>
          <option value="1" {{ if eq .OrderBy 1 }}selected{{ end }}>Ruolo</option>
          <option value="2" {{ if eq .OrderBy 2 }}selected{{ end }}>Username</option>
          <option value="3" {{ if eq .OrderBy 3 }}selected{{ end }}>Nome</option>
          <option value="4" {{ if eq .OrderBy 4 }}selected{{ end }}>Cognome</option>
          <option value="5" {{ if eq .OrderBy 5 }}selected{{ end }}>Data di creazione</option>
        </select>
      </div>
      <a class="ml-auto btn-sm suggested" href="admin/user">
        <i class="fa-add fas"></i>
        Aggiungi
      </a>
    </div>

    <div class="border-collapse border-outline border rounded-lg overflow-x-auto">
      <table class="w-full table-auto">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Username</th>
            <th>Ruolo</th>
            <th class="sr-only">Azioni</th>
          </tr>
        </thead>
        <tbody class="border-outline bg-white border-t">
          {{ range .Users }}
          <tr class="border-outline border-t">
            <td>{{ .ID }}</td>
            <td>{{ .Name }}</td>
            <td>{{ .Surname }}</td>
            <td>{{ .Username }}</td>
            <td>{{ .RoleID }}</td>
            <td class="w-8">
              <a class="w-8 btn-sm" href="admin/user?id={{ .ID }}">
                <i class="fa-pen fas"></i>
              </a>
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</div>