<!DOCTYPE html>
<html>
  {{ template "head.html" }} 
  <body class="bg-surface min-h-screen">
    <header class="mx-auto w-full max-w-screen-xl">
      <div class="flex p-4">
        {{ template "backButton" }}
      </div>
    </header>

    <main class="flex justify-center items-center">
      <div class="space-y-4 px-6 w-full max-w-xl">
        <h2 class="text-h2">
        {{ if .IsNew }}
          Nuovo ordine
        {{ else }}
          Modifica ordine
        {{ end }}
        </h2>
        <form class="space-y-4" method="post" action="/cook/orders">
          <input type="hidden" name="order.id" value="{{ .Order.ID }}">
          <input type="hidden" name="isNew" value="{{ .IsNew }}">
          <input type="hidden" name="user.Id" value="{{ .UserID }}">
          
          <!-- TODO: Aggiungere unità di misura -->

          {{ template "select" .ProductSelect }}
          {{ template "input" .AmountInput }}
          {{ template "input" .RequestedAtInput }}
          
          {{ template "formSubmitButtons" .IsNew }}
        </form>
      </div>
    </main>
  </body>
</html>
