<div class="min-h-screen">
  <div class="mx-auto w-full max-w-screen-xl">
    <div class="flex p-4">
      <div class="btn-lg">
        <i class="fa-bars fas"></i>
      </div>
      <a class="ml-auto btn-lg" href="logout">
        Esci
        <i class="fa-right-to-bracket fas"></i>
      </a>
    </div>
  </div>
  <div class="flex justify-center items-center">
    <div class="space-y-4 px-6 w-full max-w-xl">
      <h2 class="text-h2">
        Utenti
      </h2>
      <div class="flex gap-1">
        <a class="ml-auto btn-sm suggested" href="">
          <i class="fa-add fas"></i>
          Aggiungi
        </a>
      </div>
      <div hx-get="/admin/users" hx-trigger="load" hx-target="this">
      </div>
    </div>
  </div>
</div>