<!DOCTYPE html>
<html>
  {{ template "head.html" }}
  <body class="bg-surface min-h-screen">
    <header class="mx-auto w-full max-w-screen-xl">
      <div class="flex p-4">
        <a class="btn-lg" onclick="history.back()">
          <i class="fa-arrow-left fas"></i>
          Indietro
        </a>
        <form class="ml-auto" method="post" action="/logout">
          <button class="btn-lg" type="submit">
            Esci
            <i class="fa-right-to-bracket fas"></i>
          </button>
        </form>
      </div>
    </header>
    
    <main class="flex justify-center px-6">
      <div class="space-y-4 w-full max-w-xl">
        <h2 class="text-h2">
          Errore interno
        </h2>
        <div class="border-outline bg-white p-2 border rounded-lg font-mono text-sm">
          {{ . }}
        </div>
      </div>
    </main>
  </body>
</html>