<!DOCTYPE html>
<html>
  {{ template "head.html" }}
  <body class="bg-surface min-h-screen">
    <header class="mx-auto w-full max-w-screen-xl">
      <div class="flex p-4">
        {{ template "backButton" }}
        {{ template "logoutButton" }}
      </div>
    </header>
    
    <main class="flex justify-center px-6">
      <div class="space-y-4 w-full max-w-xl">
        <h2 class="text-h2">
          Errore interno
        </h2>
        <div class="border-outline bg-white p-2 border rounded-lg font-mono text-sm">
          {{ . }}
        </div>
      </div>
    </main>
  </body>
</html>