<!DOCTYPE html>
<html>
  <head>
    <title>Gestione ordini</title>
    <link href="./public/tailwind.css" rel="stylesheet">
  </head>
  <body>
    <div class="fh">
      {{ if .UserID }}
        {{ if eq .RoleID 0 }}
          {{ template "cook.html" . }}   
        {{ else if eq .RoleID 1 }}
          {{ template "manager.html" . }}
        {{ else if eq .RoleID 2 }}
          {{ template "administrator.html" . }}
        {{ else }}
        {{ end }}
      {{ else }}
        {{ template "login.html" . }}
      {{ end }}
    </div>
  </body>
</html>