<!DOCTYPE html>
<html>
  <head>
    <title>Gestione ordini</title>
    <link href="./public/tailwind.css" rel="stylesheet">
  </head>
  <body>
    <div class="fh">
      {{ if .IDUtente }}
        {{ if eq .IDRuolo 0 }}
          {{ template "cuoco.html" . }}   
        {{ else if eq .IDRuolo 1 }}
          {{ template "magazziniere.html" . }}
        {{ else if eq .IDRuolo 2 }}
          {{ template "amministratore.html" . }}
        {{ else }}
        {{ end }}
      {{ else }}
        {{ template "login.html" . }}
      {{ end }}
    </div>
  </body>
</html>