{{ define "logoutButton" }}
<form class="ml-auto" method="post" action="/logout">
  <button class="btn-lg" type="submit">
    Esci
    <i class="fa-right-to-bracket fas"></i>
  </button>
</form>
{{ end }}

{{ define "backButton" }}
<a class="btn-lg" onclick="history.back()">
  <i class="fa-arrow-left fas"></i>
  Indietro
</a>
{{ end }}

{{ define "formSubmitButtons" }}
<div class="flex gap-4 pt-4">
  {{ if not . }}
  <button class="w-24 btn-lg" type="submit" name="delete">
    Elimina
  </button>
  {{ end }}
  <button class="ml-auto w-24 btn-lg suggested" type="submit">
    {{ if . }}
    Crea
    {{ else }}
    Salva
    {{ end }}
  </button>
</div>
{{ end }}
