{{ define "input" }}
<div>
  <label for="{{ .Name }}-input">{{ .Label }}</label>
  <input id="{{ .Name }}-input" type="{{ .Type }}" name="{{ .Name }}" value="{{ .DefaultValue }}" required>
</div>
{{ end }}

{{ define "select" }}
<div>
  <label for="{{ .Name }}-select">{{ .Label }}</label>
  <select id="{{ .Name }}-select" name="{{ .Name }}" required>
    {{ range .Options }}
    <option value="{{ .Value }}"{{ if eq .Value $.Selected }} selected{{ end }}>{{ .Text }}</option>
    {{ end }}
  </select>
</div>
{{ end }}
