{{ define "input" }}
<div>
  <label>{{ .Label }}</label>
  <input class="w-full input" type="{{ .Type }}" name="{{ .Name }}" value="{{ .DefaultValue }}" required>
</div>
{{ end }}

{{ define "select" }}
<div>
  <label>{{ .Label }}</label>
  <select class="w-full input" name="{{ .Name }}" required>
    {{ range .Options }}
    <option value="{{ .Value }}"{{ if eq .Value $.Selected }} selected{{ end }}>{{ .Text }}</option>
    {{ end }}
  </select>
</div>
{{ end }}

{{ define "productAmountInput" }}
<script>
  function setUnitOfMeasure() {
    select = document.querySelector("#productSelect")
    unit = select.options[select.selectedIndex].getAttribute("data-unitOfMeasure")

    document.querySelector("#unitOfMeasure").innerHTML = " ("+unit+")"
  }

  document.addEventListener("DOMContentLoaded", function() {
    setUnitOfMeasure()
  });
</script>
<div>
  <label>Prodotto</label>
  <select id="productSelect" class="w-full input" name="{{ .ProductSelectName }}" required onchange="setUnitOfMeasure()">
    {{ range .Products }}
    <option data-unitOfMeasure="{{ .UnitOfMeasure.Symbol }}" value="{{ .ID }}"{{ if eq .ID $.SelectedProduct }} selected{{ end }}>{{ .Name }}</option>
    {{ end }}
  </select>
</div>
<div>
  <label>
    Quantità<span id="unitOfMeasure"></span>
  </label>
  <input class="w-full input" type="number" min="1" name="{{ .AmountInputName }}" value="{{ .AmountInputDefaultValue }}" required>
</div>
{{ end }}
