{{ define "ordersView" }}
<div class="overflow-hidden elevated">
  <div class="flex items-center p-1">
    <button class="btn-md" hx-get="{{ .OrdersViewURL }}">
      <i class="fa-calendar-day fas"></i>
      <h3 class="truncate">{{ .WeekTitle }}</h3>
    </button>
    <button class="ml-auto btn-md" hx-get="{{ .OrdersViewURL }}?offset={{ .PrevOffset }}">
      <i class="fa-chevron-left fas"></i>
    </button>
    <button class="btn-md" hx-get="{{ .OrdersViewURL }}?offset={{ .NextOffset }}">
      <i class="fa-chevron-right fas"></i>
    </button>
  </div>
  <div class="bg-surface border-outline border-t sm:h-80 overflow-auto">
    <div
      class="flex flex-row max-sm:flex-col divide-outline sm:divide-x max-sm:divide-y min-h-full">
      {{ range .Days }}
      <div class="flex max-sm:flex-row flex-col basis-[14.2857143%]">
        {{ $isPast := .IsPast }}
        <h4 class="p-2 min-w-20 text-center max-sm:text-right">
          {{ .Heading }}
        </h4>
        <div class="flex flex-col gap-1 p-1 max-sm:w-full">
          {{ range .Orders }}
          <a{{ if $.OrdersURL }} href="{{ $.OrdersURL }}{{ .ID }}" {{ end }}>
            <div
              class="{{ if $isPast }}bg-raised{{ else }}bg-secondary{{ end }} p-1 rounded-md text-sm{{ if $.OrdersURL }} clickable{{ end }}"
              title="{{ .Product.Description }}">
              <h4 class="break-all line-clamp-2 max-sm:line-clamp-1 hyphens-auto">
                {{ .Product.Description }}
              </h4>
              {{ .AmountString }}
            </div>
            </a>
            {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
