{{ define "hiddenPasswordInput" }}
<script>
  function showPasswordInput(button) {
    passwordInput = document.getElementById("{{ .Name }}-input")
    button.style.display = "none"
    passwordInput.classList.remove("hidden")
    passwordInput.focus()
  }
</script>
<div>
  <label for="{{ .Name }}-input">{{ .Label }}</label>
  <button type="button" class="w-full btn-md input" onclick="showPasswordInput(this)">
    <i class="fa-pen fas"></i>
    Modifica
  </button>
  <input id="{{ .Name }}-input" class="hidden" placeholder="Nuova password" name="{{ .Name }}"
    type="text">
</div>
{{ end }}
