{{ define "hiddenPasswordInput" }}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("passwordEditButton").addEventListener("click", function() {
      passwordInput = document.getElementById("{{ .Name }}-input")
      
      document.getElementById("passwordHiddenInput").classList.add("hidden")
      passwordInput.classList.remove("hidden")
      passwordInput.focus()
    })
  })
</script>

<div class="w-full">
  <label for="{{ .Name }}-input">{{ .Label }}</label>
  <div id="passwordHiddenInput" class="overflow-clip input">
    <button id="passwordEditButton" type="button" class="w-full btn-md">
      <i class="fa-pen fas"></i>
      Modifica
    </button>
  </div>
  <input id="{{ .Name }}-input" class="hidden" placeholder="Nuova password" name="{{ .Name }}" type="text">
</div>
{{ end }}
