{{ define "hiddenPasswordInput" }}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("passwordEditButton").addEventListener("click", function() {
      passwordInput = document.getElementById("{{ .Name }}-input")
      
      document.getElementById("passwordHiddenInput").classList.add("hidden")
      passwordInput.classList.remove("hidden")
      passwordInput.focus()
    })
  })
</script>

<div class="w-full">
  <label for="{{ .Name }}-input">{{ .Label }}</label>
  <div id="passwordHiddenInput" class="flex items-center border-outline py-1 pr-1 pl-3 border rounded-lg">
    <p class="text-on-surface-dim text-xl">••••••••••••</p>
    <button id="passwordEditButton" type="button" class="ml-auto btn-sm">
      <i class="fa-pen fas"></i>
      Modifica
    </button>
  </div>
  <input id="{{ .Name }}-input" class="hidden w-full input" placeholder="Nuova password" name="{{ .Name }}" type="text">
</div>
{{ end }}
