
{{ define "productInput" }}
<div class="w-full" hx-post="/chef/unitOfMeasureSymbol" hx-target="#unitOfMeasure" hx-trigger="change, load">
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      searchButton = document.getElementById("productSearchButton")
      searchDialog = document.getElementById("productSearchDialog"),

      searchDialog.addEventListener("click" , function(event) {
        if (event.target === searchDialog) {
          searchDialog.close()
        }
      })
    })

    function onOptionClicked(option) {
      searchButton.innerHTML = option.parentElement.innerText
      searchDialog.close()
    }
  </script>
  <label>Prodotto</label>
  <div id="productSearchButton" class="flex items-center px-3 input selectable" onclick="searchDialog.showModal()">
    {{ if .InitialProductName }}
      {{ .InitialProductName }}
    {{ else }}
      <span class="text-on-surface-dim">Seleziona prodotto</span>
    {{ end }}
  </div>
  <dialog id="productSearchDialog">
    <!-- TODO: Weird double vertical scroll when page it too short -->
    <!-- TODO: On Webkit and Chrome horizontal scroll -->
    <div class="space-y-2">
      <!-- TODO: Search cancel button -->
      <input id="productSearchInput" name="{{ .SearchInputName }}" type="search"
      placeholder="Cerca prodotti"
      autofocus
      hx-post="{{ .ProductSearchURL }}"
      hx-trigger="input changed delay:100ms, search, load"
      hx-target="#productSelect">
      <fieldset class="flex-wrap max-w-md chipBox"
      hx-post="{{ .ProductSearchURL }}"
      hx-trigger="change"
      hx-target="#productSelect">
        {{ range .ProductTypes }}
        <span onclick="this.querySelector('input').click()">
          <input type="checkbox" value="{{ .ID }}" name="{{ $.ProductTypesName }}">
          <i class="fa-check fas"></i>
          {{ .Name }}
        </span>
        {{ end }}
      </fieldset>
    </div>
    <fieldset id="productSelect" class="max-h-[30rem] selectList">
    </fieldset>
  </dialog>
</div>
{{ end }}

{{ define "productSearchResult" }}
<span onclick="this.querySelector('input').click()">
  <input type="radio" class="sr-only" required
  name="{{ .ProductSelectName }}"
  value="{{ .Product.ID }}"
  onclick="onOptionClicked(this)"
  {{ if .IsSelected }} checked{{ end }}>
  {{ .Product.Name }}
</span>
{{ end }}

{{ define "productSearchNoResults" }}
<span class="p-2 w-full text-center text-on-surface-dim italic">
  Nessun risultato
</span>
{{ end }}
