
{{ define "productInput" }}
<div class="w-full" hx-post="/chef/unitOfMeasureSymbol" hx-target="#unitOfMeasure" hx-trigger="change, load">
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      searchButton = document.getElementById("productSearchButton")
      searchDialog = document.getElementById("productSearchDialog"),

      searchDialog.addEventListener("click" , function(event) {
        if (event.target === searchDialog) {
          searchDialog.close()
        }
      })
    })

    function onOptionClicked(option) {
      searchButton.innerHTML = option.parentElement.innerText
      searchDialog.close()
    }
  </script>
  <label>Prodotto</label>
  <button type="button" id="productSearchButton" class="px-3 w-full btn input" onclick="searchDialog.showModal()">
    {{ if .InitialProductName }}
    {{ .InitialProductName }}
    {{ else }}
    <span class="text-on-surface-dim">Seleziona prodotto</span>
    {{ end }}
  </button>
  <dialog tabindex="-1" id="productSearchDialog">
    <div class="border-outline pb-4 border-b max-w-md">
      <div class="space-y-2">
        <!-- TODO: Search cancel button -->
        <!-- Hides some results in phones in landscape -->
        <input id="productSearchInput" name="{{ .SearchInputName }}" type="search"
          placeholder="Cerca prodotti"
          autofocus
          hx-post="{{ .ProductSearchURL }}"
          hx-trigger="input changed delay:100ms, search, load"
          hx-target="#productSelect">
          <fieldset class="flex-wrap chipBox"
          hx-post="{{ .ProductSearchURL }}"
          hx-trigger="change"
          hx-target="#productSelect">
          {{ range .ProductTypes }}
          <button onclick="this.querySelector('input').click()">
            <input tabindex="-1" type="checkbox" value="{{ .ID }}" name="{{ $.ProductTypesName }}">
            <i class="fa-check fas"></i>
            {{ .Name }}
          </button>
          {{ end }}
        </fieldset>
      </div>
    </div>
    <div tabindex="-1" id="productSelect" class="max-w-md max-h-[29rem] overflow-y-auto selectList">
    </div>
  </dialog>
</div>
{{ end }}

{{ define "productSearchResult" }}
<button onclick="this.querySelector('input').click()">
  <input tabindex="-1" type="radio" class="sr-only" required
  name="{{ .ProductSelectName }}"
  value="{{ .Product.ID }}"
  onclick="onOptionClicked(this)"
  {{ if .IsSelected }} checked{{ end }}>
  <span class="truncate">{{ .Product.Name }}</span>
</button>
{{ end }}

{{ define "productSearchNoResults" }}
<span class="flex justify-center p-2 w-full text-on-surface-dim italic">
  Nessun risultato
</span>
{{ end }}
