{{ define "productAmountInput" }}
<div class="w-full">
  <script src="/public/searchSelect.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      searchSelect(
        document.getElementById("productSearchButton"),
        document.getElementById("productSearchDialog"),
      )

      //document.getElementById("productSearchDialog").addEventListener("click", setUnitOfMeasure)
      //setUnitOfMeasure()
    });
  </script>
  <label>Prodotto</label>
  <div id="productSearchButton" class="flex items-center px-3 input selectable">
  </div>
  {{ template "productSearchDialog" .SearchDialog }}
</div>
<div>
  <label>
    Quantità<span id="unitOfMeasure"></span>
  </label>
  <input type="number" min="1" name="{{ .AmountInputName }}" value="{{ .AmountInputDefaultValue }}" required>
</div>
{{ end }}

{{ define "productSearchDialog" }}
<dialog id="productSearchDialog">
  <div class="space-y-2 max-w-md">
    <input id="productSearchInput" name="{{ .SearchInputName }}" type="search"
    placeholder="Cerca prodotti..."
    hx-post="{{ .ProductSearchURL }}"
    hx-trigger="input changed, search, load"
    hx-target="#productSelect">
    <fieldset class="chipBox"
    hx-post="{{ .ProductSearchURL }}"
    hx-trigger="change"
    hx-target="#productSelect">
      {{ range .ProductTypes }}
      <span onclick="this.querySelector('input').click()">
        <input type="checkbox" value="{{ .ID }}" name="{{ $.ProductTypesName }}">
        <i class="fa-check fas"></i>
        {{ .Name }}
      </span>
      {{ end }}
    </fieldset>
  </div>
  <fieldset id="productSelect" class="selectList">
  </fieldset>
</dialog>
{{ end }}

{{ define "productSearchResult"}}
<span onclick="this.querySelector('input').click()">
  <input type="radio" class="sr-only"
  name="{{ .ProductSelectName }}"
  value="{{ .Product.ID }}"
  {{ if .IsSelected }} checked{{ end }}>
  {{ .Product.Name }}
</span>
{{ end }}
