{{ define "sidebarButton" }}
<button id="sidebarButton" class="btn-lg" onclick="toggleSidebar()">
  <i class="fa-bars fas"></i>
</button>
{{ end }}

{{ define "sidebar" }}
<script type="text/javascript">
  function toggleSidebar() {
    document.querySelector(".sidebar").classList.toggle("collapsed");
    document.querySelector(".scrim").classList.toggle("collapsed");
    document.querySelector(".content").classList.toggle("collapsed");
    document.querySelector("#hideButton").toggleAttribute("hidden");
  }

  document.addEventListener("DOMContentLoaded", function () {
    if (window.innerWidth < 800) {
      toggleSidebar();
    }
  });
</script>

<div class="scrim" onclick="toggleSidebar()">
</div>

<aside class="sidebar">
  <nav class="border-0 border-outline bg-surface shadow-md p-4 border-r rounded-r-xl h-full">
    <ul class="space-y-1">
      {{ range . }}
      <li>
        <a {{ if not .Selected }}href="{{ .DestURL }}" {{ end }}
          class="{{ if .Selected }}bg-secondary {{ end }}btn-lg w-full">
          <div class="justify-start w-full">
            <i class="{{ .FasIconName }} fas pr-2"></i>
            {{ .Label }}
          </div>
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>
  <div id="hideButton" class="top-0 left-64 z-400 fixed">
    <button class="md:hidden m-4 btn-lg" onclick="toggleSidebar()">
      <i class="fa-close fas"></i>
    </button>
  </div>
</aside>
{{ end }}
