{{ define "sidebarButton" }}
<button id="sidebarButton" class="btn-lg" onclick="toggleSidebar()">
  <i class="fa-bars fas"></i>
</button>
{{ end }}

{{ define "sidebar" }}
<script type="text/javascript">
  function toggleSidebar() {
    document.querySelector(".sidebar").classList.toggle("collapsed");
    document.querySelector(".scrim").classList.toggle("collapsed");
    document.querySelector(".content").classList.toggle("collapsed");
    document.querySelector("#hideButton").toggleAttribute("hidden");
  }

  document.addEventListener("DOMContentLoaded", function() {
    if (window.innerWidth < 800) {
      toggleSidebar();
    }
  });
</script>

<div class="scrim" onclick="toggleSidebar()">
</div>

<aside class="sidebar">
  <div class="border-outline bg-white border-r w-64 h-screen">
    <div class="p-4 overflow-y-auto">
      <ul class="space-y-1">
        {{ range . }}
        <li>
          <a {{ if not .Selected }}href="{{ .DestURL }}"{{ end }} class="{{ if .Selected }}bg-scrim bg-opacity-5 {{ end }}inline-flex items-center gap-2 px-4 rounded-full focus-ring focus:ring-offset-2 w-full h-12 font-bold selectable">
            <i class="{{ .FasIconName }} fas"></i>
            {{ .Label }}
          </a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
  <div id="hideButton" class="top-0 left-0 z-400 fixed pl-64">
    <button class="sm:hidden m-4 btn-lg" onclick="toggleSidebar()">
      <i class="fa-close fas"></i>
    </button>
  </div>
</aside>
{{ end }}
