{{ define "tableHead" }}
<thead>
  <tr>
     {{ range .Headings }}
     <th class="selectable" hx-get="{{ $.TableURL }}?orderBy={{ .Index }}&orderDesc={{ if eq .Index $.OrderBy }}{{ not $.OrderDesc }}{{ else }}false{{ end }}" hx-target=".dataTable" hx-swap="outerHTML">
        <div class="inline-flex items-center gap-1">
          {{ .Name }}
          <i class="{{ if $.OrderDesc }}fa-sort-up{{ else }}fa-sort{{ end }} fas{{ if ne $.OrderBy .Index }} opacity-0{{ end }}"></i>
        </div>
      </th>
     {{ end }}
     <th class="sr-only">Azioni</th>
   </tr>
 </thead>
{{ end }}

{{ define "suppliersTable" }}
<div class="dataTable">
  <table>
    {{ template "tableHead" . }}

    <tbody>
      {{ range .Suppliers }}
      <tr>
        <td>{{ .ID }}</td>
        <td>{{ .Name }}</td>
        <td>{{ .Email }}</td>
        <td class="w-8"> 
          <a class="w-8 h-8 btn-sm" href="/console/suppliers/{{ .ID }}">
            <i class="fa-pen fas"></i>
          </a>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}

{{ define "allOrdersTable" }}
<div class="dataTable">
  <table>
    <thead>
      <tr>
        {{ range .Headings }}
        <th>
          {{ .Name }}
        </th>
        {{ end }}
        <th class="sr-only">Azioni</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Orders }}
      <tr>
        <td>{{ .ID }}</td>
        <td>
          <a class="line-clamp-1 link" href="/console/products/{{ .Product.ID }}">{{ .Product.Name }}</a>
        </td>
        <td>
          <a class="link" href="/console/users/{{ .User.ID }}">{{ .User.Username }}</a>
        </td>
        <td>{{ .Amount }}</td>
        <td>
          <div class="line-clamp-1">{{ .RequestedAt }}</div>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}

{{ define "productsTable" }}
<div class="dataTable">
  <table>
    {{ template "tableHead" . }}

    <tbody>
      {{ range .Products }} 
      <tr>
        <td>{{ .ID }}</td>
        <td>
          <div class="line-clamp-2">{{ .Name }}</div>
        </td>
        <td>{{ .ProductType.Name }}</td>
        <td>
          <a class="link" href="/console/suppliers/{{ .Supplier.ID }}">{{ .Supplier.Name }}</a>
        </td>
        <td>{{ .UnitOfMeasure.Symbol }}</td>
        <td class="w-8">
          <a class="w-8 h-8 btn-sm" href="/console/products/{{ .ID }}">
            <i class="fa-pen fas"></i>
          </a>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}

{{ define "usersTable" }}
<div class="dataTable">
  <table>
    {{ template "tableHead" . }}

    <tbody>
      {{ range .Users }}
      <tr>
        <td>{{ .ID }}</td>
        <td class="max-w-14 text-ellipsis overflow-clip">{{ .Role.Name }}</td>
        <td>{{ .Username }}</td>
        <td>{{ .Name }}</td>
        <td>{{ .Surname }}</td>
        <td class="w-8">
          <a class="w-8 h-8 btn-sm" href="/console/users/{{ .ID }}">
            <i class="fa-pen fas"></i>
          </a>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}
