{{ define "table" }}
<div class="dataTable">
  <table>
    {{ template "sortableTableHead" . }}

    {{ if .MaxRowCount }}
    <tbody>
      {{ range slice .Rows 0 .MaxRowCount }} 
      {{ template "tableRow" . }}
      {{ end }}
      {{ if gt (len .Rows) .MaxRowCount }}
      <tr
        hx-get="{{ .TableURL }}?orderBy={{ .OrderBy }}&orderDesc={{ .OrderDesc }}&maxRowCount={{ .NextMaxRowCount }}"
        hx-swap="outerHTML"
        hx-target=".dataTable"
        hx-trigger="revealed">
        <td colspan="{{ len .Headings }}" class="text-on-surface-dim italic">
          Caricamento…
        </td>
      </tr>
      {{ end }}
    </tbody>
    {{ else }}
    <tbody>
      {{ range .Rows }}
      {{ template "tableRow" . }}
      {{ end }}
    </tbody>
    {{ end }}
  </table>
</div>
{{ end }}

{{ define "sortableTableHead" }}
<thead>
  <tr>
    {{ range .Headings }}
    <th class="py-1 last:pr-1 first:pl-1" 
      hx-get="{{ $.TableURL }}?orderBy={{ .Index }}&orderDesc={{ if eq .Index $.OrderBy }}{{ not $.OrderDesc }}{{ else }}false{{ end }}"
      hx-swap="outerHTML"
      hx-target=".dataTable">
      <button class="gap-1 px-1 py-2 rounded-lg w-full min-h-10 btn">
        {{ .Name }}
        <i class="{{ if $.OrderDesc }}fa-sort-up{{ else }}fa-sort{{ end }} fas{{ if ne $.OrderBy .Index }} opacity-0{{ end }}"></i>
      </button>
    </th>
    {{ end }}
    <th class="sr-only">Azioni</th>
  </tr>
</thead>
{{ end }}

{{ define "tableRow" }}
<tr>
  {{ range .Cells }}
  <td>
    <span class="line-clamp-2">{{ . }}</span>
  </td>
  {{ end }}

  <td>
    <a class="btn-md" href="{{ .EditURL }}">
      <i class="fa-pen fas"></i>
    </a>
  </td>
</tr>
{{ end }}
