{{ define "tableHead" }}
<thead class="bg-view">
  <tr>
    {{ range .Headings }}
    <th class="p-2 text-start truncate">
      {{ .Name }}
    </th>
    {{ end }}
   </tr>
 </thead>
{{ end }}

{{ define "previewTable" }}
<script>
  function showAllRows() {
    document.getElementById("previewTruncatedRows").classList.add("hidden");
    document.getElementById("previewAllRows").classList.remove("hidden");
  }
</script>
<div class="dataTable">
  <table>
    {{ template "tableHead" . }}

    <tbody id="previewTruncatedRows">
      {{ range slice .Rows 0 .MaxRowCount }}
      <tr>
        {{ range . }}
        <td class="truncate">{{ . }}</td>
        {{ end }}
      </tr>
      {{ end }}
      {{ if gt (len .Rows) .MaxRowCount }}
      <tr>
        <td colspan="{{ len .Headings }}">
          <button type="button" class="btn-md" onclick="showAllRows()">
            Mostra tutti ({{ len .Rows }})
          </button>
        </td>
      </tr>
      {{ end }}
    </tbody>

    <tbody id="previewAllRows" class="hidden">
      {{ range .Rows }}
      <tr>
        {{ range . }}
        <td class="truncate">{{ . }}</td>
        {{ end }}
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}

{{ define "uploadError" }}
<div class="font-mono text-sm card">
  <p>Errore: {{ . }}</p>
</div>
{{ end }}
