<!DOCTYPE html>
<html>
  {{ template "head.html" }}
  <body>
    {{ template "sidebar" .Sidebar }}

    <div class="content">
      <header>
        {{ template "sidebarButton" }}
        {{ template "logoutButton" }}
      </header>

      <main>
        <h2>
          Tutti gli ordini
        </h2>
    
        {{ if .ExpiredOrdersList.Orders }}
        <div class="space-y-2">
          <h3 class="font-bold text-lg">
            Scaduti
          </h3>
          {{ template "ordersList" .ExpiredOrdersList }}
        </div>
        {{ end }}

        {{ range $s, $o := .SupplierOrders }}
        <div class="space-y-2">
          <h3 class="font-bold text-lg">
            Ordini per {{ $s.Name }} ({{ $s.Email }})
          </h3>
          {{ template "ordersList" $o }}
        </div>
        {{ end }}

        {{ if .NextWeekOrdersList.Orders }}
        <div class="space-y-2">
          <h3 class="font-bold text-lg">
            Ordini per settimana prossima
          </h3>
          {{ template "ordersList" .NextWeekOrdersList }}
        </div>
        {{ end }}

      </div>
    </main>
  </body>
</html>
