<!DOCTYPE html>
<html>
  {{ template "head.html" }}
  <body>
    {{ template "sidebar" .Sidebar }}

    <div class="content">
      <header>
        {{ template "sidebarButton" }}
        {{ template "logoutButton" }}
      </header>

      <main class="max-w-screen-md">
        <h2>
          Tutti gli ordini
        </h2>

        <div hx-get="/console/allOrdersView" hx-trigger="load" hx-target="this">
        </div>

        <h2>
          Seleziona ordini
        </h2>

        <form class="card" method="post" action="/console/orderSelection/"
          hx-post="/console/orderSelectionCount"
          hx-target="#count"
          hx-trigger="change, load"
        >
          <div class="flex sm:flex-row flex-col gap-4">
            <div class="w-full">{{ template "input" .StartDateInput }}</div>
            <div class="w-full">{{ template "input" .EndDateInput }}</div>  
          </div>
          
          {{ template "select" .SupplierSelect }}
          
          <div class="items-center cardFooter">
            <p class="text-on-surface-dim">
              <span id="count">0</span> ordini selezionati
            </p>
            <button type="submit" class="ml-auto btn-md" name="list">
              <i class="fa-list fas"></i>
              Scarica lista
            </button>
            <button type="submit" class="btn-md suggested" name="csv">
              <i class="fa-table fas"></i>
              Scarica CSV
            </button>
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
