<div id="table" class="border-collapse border-outline border rounded-lg overflow-x-auto">
  <table class="w-full table-auto">
    <thead>
      <tr>
        {{ range .Headings }}
        <th>
          <div class="inline-flex items-center gap-1">
            {{ .Name }}
          </div>
        </th>
        {{ end }}
        <th class="sr-only">Azioni</th>
      </tr>
    </thead>
    <tbody class="bg-white">
      {{ range .Orders }}
      <tr class="border-outline border-t">
        <td>{{ .ID }}</td>
        <td>{{ .Product.Name }}</td>
        <td>{{ .User.Username }}</td>
        <td>{{ .Amount }}</td>
        <td>{{ .RequestedAt }}</td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
