<!DOCTYPE html>
<html>
{{ template "head.html" }}

<body>
  {{ template "sidebar" .Sidebar }}

  <div class="content">
    <header>
      {{ template "sidebarButton" }}
      {{ template "logoutButton" }}
    </header>

    <main class="max-w-screen-md">
      <div class="flex items-center gap-2">
        <h2>
          Prodotti
        </h2>
        <a class="ml-auto btn-md suggested" href="/console/products/new">
          <i class="fa-add fas"></i>
          Aggiungi
        </a>
      </div>

      <div hx-get="/console/productsTable" hx-trigger="load" hx-target="this">
      </div>
  </div>
  </main>
</body>

</html>
