<!DOCTYPE html>
<html>
  {{ template "head.html" }} 
  <body>
    <header>
      {{ template "backButton" }}
    </header>

    <main>
      <h2>
      {{ if .IsNew }}
        Nuovo fornitore
      {{ else }}
        Modifica fornitore
      {{ end }}
      </h2>
      <form class="space-y-4" method="post" action="/console/suppliers/">
        <input type="hidden" name="supplier.id" value="{{ .Supplier.ID }}">
        <input type="hidden" name="isNew" value="{{ .IsNew }}">
        
        {{ template "input" .NameInput }}
        {{ template "input" .EmailInput }}

        {{ template "formSubmitButtons" .IsNew }}
      </form>
    </main>
  </body>
</html>
