<!DOCTYPE html>
<html>
  {{ template "head.html" }} 
  <body>
    <header>
        {{ template "backButton" }}
    </header>

    <main>
      <h2>
        {{ if .IsNew }}
        Nuovo utente
        {{ else }}
        Modifica utente
        {{ end }}
      </h2>
      <form class="card" method="post" action="/console/users/">
        <input type="hidden" name="user.id" value="{{ .User.ID }}">
        <input type="hidden" name="isNew" value="{{ .IsNew }}">
        
        {{ template "input" .NameInput }}
        {{ template "input" .SurnameInput }}
        {{ template "select" .RoleSelect }}
        {{ template "input" .UsernameInput }}
        
        {{ if .IsNew }}
        {{ template "input" .PasswordInput }}
        {{ else }}
        {{ template "hiddenPasswordInput" .PasswordInput }}
        {{ end }}

        {{ template "formCreateSaveButtons" .IsNew }}
      </form>
    </main>
  </body>
</html>
