<div id="table" class="border-collapse border-outline border rounded-lg overflow-x-auto">
  <table class="w-full table-auto">
    {{ template "tableHead" . }}

    <tbody class="bg-white">
      {{ range .Users }}
      <tr class="border-outline border-t">
        <td>{{ .ID }}</td>
        <td class="max-w-14 text-ellipsis overflow-clip">{{ .Role.Name }}</td>
        <td>{{ .Username }}</td>
        <td>{{ .Name }}</td>
        <td>{{ .Surname }}</td>
        <td class="w-8">
          <a class="w-8 h-8 btn-sm" href="/console/users/{{ .ID }}">
            <i class="fa-pen fas"></i>
          </a>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
