<div id="ordersList" class="border-outline bg-white border rounded-lg">
  {{ if .Orders }}
  <ol class="divide-y divide-outline">
    {{ range .Orders }}
    <li class="p-2">
      <div class="flex">
        <div>
          <div>{{ .Product.Name }}, {{ .Amount }} {{ .Product.UnitOfMeasure.Symbol }}</div>
          <div class="text-on-surface-dim">Scadenza: {{ .ExpirationString }}</div>
        </div>
        <div class="flex items-center ml-auto">
          <a class="btn-md" href="/chef/orders/{{ .ID }}">
            <i class="fa-pen fas"></i>
          </a>
        </div>
      </div>
    </li>
    {{ end }}
  </ol>
  {{ else }}
  <p class="flex justify-center p-4">
    Ancora nessun ordine.
  </p>
  {{ end }}
</div>
