<!DOCTYPE html>
<html>
  {{ template "head.html" }}
  <body>
    <header>
      {{ template "logoutButton" }}
    </header>

    <main class="max-w-screen-md">
      <h2>
        Nuovo ordine
      </h2>

      <form class="card" method="post" action="/chef/orders/">
        <input type="hidden" name="isNew" value="true">
        
        {{ template "productAmountInput" .ProductAmountInput }}
        {{ template "input" .ExpiresAtInput }}

        <div class="flex">
          <button class="ml-auto btn-md suggested">
            <i class="fa-add fas"></i>
            Aggiungi
          </button>
        </div>
      </form>
    
      <h2>
        I tuoi ordini
      </h2>

      <div hx-get="/chef/ordersView" hx-trigger="load" hx-target="this">
      </div>
    </main>
  </body>
</html>