<!DOCTYPE html>
<html>
  {{ template "head.html" }} 
  <body>
    <header>
      {{ template "backButton" }}
    </header>

    <main>
      <h2>
      {{ if .IsNew }}
        Nuovo ordine
      {{ else }}
        Modifica ordine
      {{ end }}
      </h2>
      <form class="space-y-4" method="post" action="/chef/orders/">
        <input type="hidden" name="order.id" value="{{ .Order.ID }}">
        <input type="hidden" name="isNew" value="{{ .IsNew }}">
        
        {{ template "productAmountInput" .ProductAmountInput }}
        {{ template "input" .ExpiresAtInput }}
        
        {{ template "formSubmitButtons" .IsNew }}
      </form>
    </main>
  </body>
</html>
