<!DOCTYPE html>
<html>
  {{ template "head.html" }}
  <body>
    <header>
      {{ template "logoutButton" }}
    </header>

    <main>
      <h2>
        Nuovo ordine
      </h2>
      
      <form class="space-y-4 border-outline px-4 bp-4 border rounded-lg" method="post" action="/chef/orders/">
        <input type="hidden" name="isNew" value="true">
        
        {{ template "productAmountInput" .ProductAmountInput }}
        {{ template "input" .ExpiresAtInput }}
        
        <div class="flex">
          <button class="ml-auto btn-lg suggested">
            Aggiungi
          </button>
        </div>
      </form>

      <h2>
        I tuoi ordini
      </h2>
      
      <div class="border-outline bg-white border rounded-lg">
        {{ if .Orders }}
        <ol class="divide-y divide-outline">
          {{ range .Orders }}
          <li class="flex p-2">
            <div>
              <div>{{ .Product.Name }}, {{ .Amount }} {{ .Product.UnitOfMeasure.Symbol }}</div>
              <div class="text-on-surface-dim">Scadenza: {{ .ExpirationString }}</div>
            </div>
            <div class="flex items-center ml-auto">
              <a class="btn-md" href="/chef/orders/{{ .ID }}">
                <i class="fa-pen fas"></i>
              </a>
            </div>
          </li>
          {{ end }}
        </ol>
        {{ else }}
        <p class="p-4 text-center text-on-surface-dim">
          Ancora nessun ordine
        </p>
        {{ end }}
      </div>      
    </main>
  </body>
</html>