<!DOCTYPE html>
<html>
  {{ template "head.html" }}
  <body class="bg-surface">
    <header class="mx-auto w-full max-w-screen-xl">
      <div class="flex p-4">
        {{ template "logoutButton" }}
      </div>
    </header>

    <main class="flex justify-center items-center">
      <div class="space-y-4 px-6 w-full max-w-xl">
        <div class="flex items-center">
          <h2 class="text-h2">
            I tuoi ordini
          </h2>
          <a class="ml-auto btn-md suggested" href="/chef/orders/new">
            <i class="fa-add fas"></i>
            Aggiungi
          </a>
        </div>
        
        <div hx-get="/chef/ordersList" hx-trigger="load" hx-target="this">
        </div>
      </div>
    </main>
  </body>
</html>