<!DOCTYPE html>
<html>
  {{ template "head.html" }} 
  <body>
    <header>
      {{ template "backButton" }}
    </header>

    <main>
      <h2>
        Modifica ordine
      </h2>
      <form class="card" method="post" action="{{ .OrdersURL }}"
      hx-post="{{ .AmountInputURL }}"
      hx-target="#amountInput"
      hx-trigger="change, load">
        <input type="hidden" name="order.id" value="{{ .Order.ID }}">
        <input type="hidden" name="order.userId" value="{{ .Order.UserID }}">
        <input type="hidden" name="isNew" value="false">
        
        {{ template "productInput" .ProductInput }}
        <div id="amountInput"></div>
        {{ template "input" .ExpiresAtInput }}
        
        {{ template "formCreateSaveDeleteButtons" .IsNew }}
      </form>
    </main>
  </body>
</html>
